.Homescreen{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/bg.jpg");
    background-position: center;
    background-size:cover;
    width: 100vw;
    height:100vh;
}