.searchbar {

    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    padding: 2rem;
    border-radius: 2rem;
    
    &-input{
        box-sizing: border-box;
        padding-left: 10px;
        background-color:white;
        border-radius: 0.5rem;
        color: black;
        width: 20rem;
        height: 3rem;
        line-height: 3rem;
        padding-left: 0.5rem;
        margin-right: 1rem;
        outline: none;
    }

    &-button{
        background-color:white;
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        outline: none;

        &:active {}
    }

    &__autocomplete{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0.5rem;

        ul{
            width: 19rem;
            margin: 0;
            padding: 0.5rem;
            list-style: none;

            li{
                cursor:pointer;
                margin: 0;
                padding: 0;
                color: white;
            }
        }

        &--hide{
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            margin: 0.5rem;
            visibility: hidden;
        }
    }
}