/node_modules
/public/dist
/russian-dictionary
/database/openrussian.db
.env
/scripts/datasource.json
/scripts/downloads/*
/python_app/testfile.xlsx
/python_app/config.json
/data 
/python_app/env
/python_app/media/*
/python_app/*.xlsx